.size {
  font-size: 13px;
  color: grey; }

.size3 {
  font-size: 11px;
  color: grey;
  margin-left: -18px; }

.taille {
  margin-top: 20px;
  width: 890px;
  height: 210px;
  margin-bottom: 20px; }

.titre {
  color: #02020c;
  font-size: 15px; }

.textwhite {
  color: white; }
