.a1 {
  text-align: center;
  padding-left: 320px;
  color: white;
}
.a2 {
  text-align: center;
  padding-left: 300px;
  color: white;
}
.a1:active {
  text-decoration: underline;
}
.underline {
  text-decoration: underline;
}
